<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /JJC_Systems/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /JJC_Systems/index.html [L]
</IfModule>